<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shopster - Forgot Password</title>
   <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="black-background">
   <header class="website-name">Shopster</header>
   <div class="center-container">
       <div class="login-container">
           <h2>Reset Your Password</h2>


           <!-- Success Message -->
           <p th:if="${message}" th:text="${message}" style="color: green; text-align: center;"></p>


           <!-- Error Message -->
           <p th:if="${error}" th:text="${error}" style="color: red; text-align: center;"></p>


           <form th:action="@{/forgot-password}" method="post" id="forgot-password-form">
               <div class="input-group">
                   <label for="email">Email</label>
                   <input type="email" id="email" name="email" placeholder="Enter your email" required>
               </div>
               <button type="submit" class="login-btn">Send Reset Link</button>
               <div class="signup-link">
                   <p>Remembered your password? <a th:href="@{/}">Login</a></p>
               </div>
           </form>
       </div>
   </div>
   <script th:src="@{/scripts.js}"></script>
</body>
</html>